@use "src/styles/abstracts/colors";

.card {
  max-width: max-content;
  padding: 1.2rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 2px rgba($color: #545454, $alpha: 0.2);
  background-color: colors.$white;
}