@use "src/styles/abstracts/colors";

.sp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.3rem;
  padding: 0.9rem;
  background-color: cyan;
  border-radius: 0.2rem;
  background-color: colors.$strong-cyan;
  color: colors.$very-dark-cyan;
  cursor: pointer;
}

.sp-button:hover {
  box-shadow: 2px 2px 2px 2px rgba($color: #545454, $alpha: 0.2);
  color: colors.$strong-cyan;
  background-color: colors.$white
}