@use "styles/abstracts/colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1440px;
}

.app {
  font-family: 'Space Mono', monospace;
  background-color: colors.$light-grayish-cyan;
  height: 100vh;
  width: 100vw;

  &__title {
    color: colors.$very-dark-cyan;
    margin-bottom: 1rem;
    
    p {
      letter-spacing: 0.7rem;
    }
  }
}
