@use "styles/abstracts/colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1440px;
}

.app {
  font-family: 'Space Mono', monospace;
  background-color: colors.$light-grayish-cyan;
  height: 100vh;
  width: 100vw;
}
